@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow: hidden;
}

/* Add this in your global CSS or Tailwind config file */
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }


  